# Virtual environments
venv/
venv_li/
.venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Audio files
audio/

# Backend specific ignores
.idea/
.venv/
__pycache__/
backend/cl/
node_modules/
package-lock.json
package.json
db/*.db

# Backend model files
model_decision_tree.pickle
model_gradient_boosting.pickle
model_linear_regression.pickle
model_random_forest.pickle
model_svr.pickle

# Python ignores
*.py[cod]
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pickle  
MANIFEST

# Node/NPM ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Ігнорувати output файли
output.txt
# Android Gradle files
../frontend/android/.gradle/
../frontend/android/build/
../frontend/android/app/build/
../frontend/android/gradle/
../frontend/android/local.properties
